name: CI Pipeline - Oficina Virtual

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ejecutar-tests:
    runs-on: windows-latest

    env:
      STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
      SAS_TOKEN: ${{ secrets.AZURE_SAS_TOKEN }}

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Permisos Gradlew
        run: chmod +x gradlew

      - name: Limpiar reportes previos
        run: ./gradlew clearReports

      - name: Ejecutar pruebas con Serenity
        continue-on-error: true
        run: ./gradlew clean test aggregate -Denvironment=qa

      - name: Subir Reporte Serenity COMPLETO a Azure
        shell: pwsh
        run: |
          pwsh ./.github/scripts/upload-serenity.ps1 `
            -StorageAccount "$env:STORAGE_ACCOUNT" `
            -SasToken "$env:SAS_TOKEN" `
            -SourceFolder "target/site/serenity"
