name: CI Pipeline - Oficina Virtual

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_FOLDER: "build-ov"
  BUILD_NAME: "Portal_OV"

jobs:
  escenarios-oficina-virtual:
    name: Ejecución Escenarios OV
    runs-on: windows-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Dar permisos a gradlew
        run: chmod +x gradlew

      - name: Limpiar reportes
        run: ./gradlew clearReports

      - name: Ejecutar pruebas
        continue-on-error: true
        run: ./gradlew clean test jacocoTestReport -Denvironment=qa

      - name: Generar reportes Serenity
        run: ./gradlew aggregate -Denvironment=qa

      - name: Preparar carpetas build OV
        shell: pwsh
        run: pwsh ./.github/scripts/preparar-carpetas.ps1

      - name: Generar portal HTML
        shell: pwsh
        run: pwsh ./.github/scripts/generar-html.ps1

      # ❌ Eliminado: Generar Diagnóstico

      - name: Subir reportes a Azure
        shell: pwsh
        run: |
          pwsh ./.github/scripts/upload-to-azure.ps1 `
            -BuildName "$env:BUILD_NAME" `
            -BuildFolder "$env:BUILD_FOLDER" `
            -StorageAccount "$env:AZURE_STORAGE" `
            -SasToken "$env:SAS_TOKEN"

      - name: Generar Portal Maestro
        shell: pwsh
        run: pwsh ./.github/scripts/generar-portal-maestro.ps1
