name: CI Pipeline - Oficina Virtual

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_FOLDER: "build-ov"
  BUILD_NAME: "Portal_OV"

jobs:
  escenarios-oficina-virtual:
    name: Ejecución Escenarios OV
    runs-on: windows-latest

    steps:

      # 1. Descarga del código
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Configurar Java 17
      - name: Configurar Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Permisos Gradle
      - name: Dar permisos a gradlew
        run: chmod +x gradlew

      # 4. Limpiar reportes previos
      - name: Limpiar
